@model Template.Web.Features.Login.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login.css">

<div class="login-page-container d-flex justify-content-center align-items-center">
    <div class="login-form-wrapper col-12 col-md-6">
        <div class="login-logo text-center mb-5">
            <h1>Sun<span>Storage</span></h1>
        </div>
        <div class="login-form-container p-4">
            <h2 class="login-title text-center">Login</h2>
            <form method="post" role="form" autocomplete="off">
                <input asp-for="ReturnUrl" type="hidden" />

                <div class="login-form-group form-group mb-4">
                    <label asp-for="Email" class="login-label onit-label-required"></label>
                    <div class="input-group onit-input-group-union">
                        <input asp-for="Email" class="login-input form-control" type="text" placeholder="Enter your email" />
                    </div>
                    <span asp-validation-for="Email" class="login-error text-danger"></span>
                </div>

                <div class="login-form-group form-group mb-4">
                    <label asp-for="Password" class="login-label onit-label-required"></label>
                    <div class="input-group onit-input-group-union">
                        <input asp-for="Password" class="login-input form-control" type="password" placeholder="Enter your password" />
                    </div>
                    <span asp-validation-for="Password" class="login-error text-danger"></span>
                </div>

                <div class="login-form-group text-center mt-4">
                    <button type="submit" class="login-submit-button btn btn-success btn-lg">Accedi</button>
                </div>
            </form>
        </div>
    </div>
</div>
